@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Libre+Baskerville:wght@700&family=Pacifico&family=Poppins&family=Public+Sans:wght@700&family=Roboto:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.iphone{
    background-color: black;
    border-radius: 20px;
    width: 240px;
}
.calculator{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
.result{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
}
span{
    font-size: 60px;
    margin-right: 10px;
}
.value{
    display: flex;
    background-color:  #333333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.orange{
    background-color: #ff9f0a;
}
.grey{
    background-color: #a5a5a5;
    color: black;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 10px;
    grid-gap: 12px;
}
.value.value_0{
    grid-column: span 2;
    width: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 30px;
}
.time{
    font-size: 12px;
    color: white;
    margin-left: 10px;
    padding: 8px;
}
.right{
    font-size: 12px;
}
#battery::before {
    font-size: 12px;
    margin-right: 10px;
}
.bottom{
    border: 2px solid rgb(216, 211, 211);
    margin-left: 10px;
    margin-top: 25px;
    width: 90px;
    margin-bottom: 8px;
}
.home{
    display: flex;
    justify-content: center;
}